body{
    background-color: #171715;
}
/*
.Contenedor_Principal{
    background-color: red;    
    
}
*/
.Titulo{
    color: white;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem;
}
.Titulo2{
    color: #00fd08;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem;
}
.Data{
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-top: 2rem;
}
.Columna{
    border-style: solid;
    border-width: 2px;
    border-color: #123a4e;
    padding: 0px;
}
.Botones{
    height: 100%;
    width: 100%;
    padding: 35%;
    font-size: 1rem;
    background-color: #17657f;
    border-style: none;
}
.Botones:hover{
    background-color: #11ddf8;
}
.Triki{
    background-color: #b10e8b !important;
    animation-duration: 2s;
    animation-name: Resaltar;
}

  
  @keyframes Resaltar {
    0%{
        transform: rotate(0deg); 
    }
  
    33% {
        transform: rotate(10deg);
        height: 110%;
        width: 110%;
    }
    66%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
  